@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  html, body{
  background: #40004a;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}


::selection {
  background-color: #EFBB35;
  color: #fff;
}