@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

::selection {
  background-color: #efbb35;
  color: #fff;
}

/* MOUSE FOLLOWING BALL */

#ball {
  width: 45px;
  height: 45px;
  background: none;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22.5px 0 0 -22.5px;
  pointer-events: none;
  transition: color 0.5s;
  will-change: color, transform;
}

/* 2 SIDE */
main {
  display: flex;
}

main div {
  overflow: hidden;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
#new-order {
  background: tomato;
}

#make-order {
  background: url(./Images/backMakeOrder.svg);
  background-color: #ffc90e;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

#order-list {
  background: teal;
}

#orders {
  background: url(./Images/backOrders.svg);
  background-color: #99d9ea;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.inv {
  max-width: 0%;
  white-space: nowrap;
  flex-basis: 0%;
}

.curr {
  flex-basis: 100%;
  white-space: nowrap;
  max-width: 100%;
}
